# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists
- Some of the commonly used libraries
- Data Science Tools
- Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
- Tensor Flow
- Pythorch
- NumPy
- Pandas

<Table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Apache AirFlow</td>
    </tr>
    <tr>
        <td>NodeRED</td>
    </tr>
    <tr>
        <td>Kibana</td>
    </tr>
</Table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
MReza Amini