<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# My Jupyter Notebook on IBM Watson Studio

**MReza Amini**

Turbomachinery Engineer

*I am interested in data science because it could help to investigate an analyze large amount of data and extract relations between data. It could help improve design and performance of machines.*

### The foloowing code calculates the sum of integers from 1 to 10

In [9]:
sum(range(1,10+1))

55

- list item 1
- list Item 2
- list Item 3

___
<a href='https://www.coursera.org/'>Coursera.org</a>

<table>
<tr>
    <th>Col 1</th>
    <th>Col 2</th>
    <th>Col 3</th> 
</tr>

<tr>
    <td>C11</td> 
    <td>C12</td> 
    <td>C13</td>
</tr>

<tr>
    <td>C21</td> 
    <td>C22</td> 
    <td>C23</td>   
</tr>

</table>